.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {

}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.construction-stripes {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #ffff00 10px,
    #ffff00 20px
  );
  height: 30px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.content {
  min-height: calc(100vh - 70px);
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  color: #777;
  height: 50px;
  padding-top: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}

.jumbotron img.construction {
  height: 200px;
  width: 200px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

p.contact-str {
  font-size: 20px;
}

#hchs-js-navbar-collapse {
  background-color: #08324D;
}

.hchs-header,
.hchs-header .dropdown-menu {
  background-color: #08324D;
  border-color: #08324D;
}

#hchs-js-navbar-collapse > ul > li.nav-item.dropdown.open a {
  color: #08324D;
}

.hchs-nav-bar {
  margin-bottom: 0px;
}

#hchs-js-navbar-collapse > ul > li.nav-item a,
#hchs-js-navbar-collapse > ul > li.nav-item.dropdown.open > ul > li > a.dropdown-item {
  color: white;
}

#hchs-js-navbar-collapse > ul > li.nav-item.dropdown.open > ul > li > a.dropdown-item:hover {
  background-color: #08324D;
}

.hchs-logo img {
  background-color: #a21d2c;
  border-radius: 2px;
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.42);
  height: 100px;
  left: 4.75%;
  margin-right: 10px;
  position: absolute;
  width: 100px;
}
