<div class="construction-stripes"></div>
<div class="jumbotron">
  <h2>Welcome to the Health Careers High School Alumni Association!</h2>
  <!-- <img src="images/hchs-front-door.jpg" alt="HCHS front"> -->
  <img class="construction" src="images/under-construction.jpg" alt="Under construction image">
  <!-- <p class="lead">
    <img src="images/hchs-front-door.jpg" alt="HCHS front"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
  <p class="contact-str">If you have inquiries about the Alumni Association and upcoming events please contact: board@hchs-alumni.org</p>
  <p class="contact-str">If you have suggestions for the website's content please contact: support@hchs-alumni.org</p>
</div>
<div class="construction-stripes"></div>
<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
